* {
	margin: 0;
	padding: 0;
}

.wrapper {
		width: 800px;
	margin: auto;	
	margin-top: 50px;
}

.info {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.foto {
	width: 150px;
	height: 150px;
	background-color: green;
}

.contacts{
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about {
	width: 100%;
	height: 300px;
	margin-top: 50px; 
	background-color: red;
}

	